 <!--<% if current_user %> -->

<H1>hello</h1>

    <!--    <h1 class="text-success" >Bienvenue sur mon site</h1>
        Hi <%= current_user.username %>
            <% if current_user.photo.present?%>
            <%= image_tag current_user.photo.url(:thumb) %>
            <% else %>
            Hi <%= image_tag(current_user.avatar, size:50) %>
            <% end %>
    <% else %>
            
<% end %> -->