
<header class="home-header">
    <div class="container py-5">
        <div class="card p-3 col-sm-12 col-md-10 col-lg-6 col-xl-6 mx-auto shadow">
            <h1>Editing Post</h1>
            <%= render 'form', post: @post %>
            </div>
        <div class="mt-3 col-sm-12 col-md-10 col-lg-6 col-xl-6 mx-auto">
            <%= link_to 'Show', @post %> |
            <%= link_to 'Back', posts_path %>
         </div >
    </div>
</header>