@font-face {
    font-family: 'Avenir';
    src: url('./fonts/Avenir-Roman.ttf');
    font-weight: normal;
    font-style: normal;
} 

@font-face {
    font-family: 'Trump';
    src: url('./fonts/trump-gothic-bold-italic.ttf');
    font-weight: medium;
    font-style: italic;
 }

 @font-face {
    font-family: 'Trump';
    src: url('./fonts/TrumpGothicEastBoldItalic.ttf');
    font-weight: bold;
    font-style: italic;
 }
//NAV FIX
 body{padding-top: 94.6562px;}

.btn-style{font-size: 25px;padding-left: 25px;padding-right: 25px;}
.btn-white{background-color: white;
    &:hover{background-color: light-gray;}
}
.btn-facebook{background-color: #3F65B3; border-radius: 5px!important;color: white;
    &:hover{background-color: #1d4caa;color:white}
}
.bg-grey{background-color: #F2F2F2;}

 // FONT 
 *{font-family: 'Avenir';
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

 h1,h2,h3,h4, h5, h6{font-family: "Trump"; text-transform: uppercase;letter-spacing: 2px;font-weight: bold;}
 .f-trump{font-family: "Trump"; text-transform: uppercase;letter-spacing: 2px;font-weight: medium;}

 h1{font-size: 60px;}
 h2{font-size: 60px;line-height:1;
    span:not(:last-child){font-size: 30px;}
}

// NAVIGATION
.navbar{z-index: 10001;}
 .avatar-picture{width: 50px;height: 50px;object-fit: cover;object-position: center;border-radius: 50px;}

 // HEADER 

.home-header{background: rgb(195,224,244);
    background: linear-gradient(200deg, rgba(195,224,244,1) 0%, rgba(246,248,244,1) 100%);
    .position-relative{z-index: 1;height: 520px}
}

.svg-home{top:-34px;left: 0%;width: 100%;z-index: 1;height: 600px;width: auto;}
.svg-like{width: 20px; margin: auto;}
// HEADER SIGN IN / LOG IN
.form-header{overflow: hidden;}
.img-log-sign{top:7%;height: 115%;width:auto;left: 50%;z-index: 0;}


// FOOTER
footer{
    ul li{list-style: none;}
    hr{border-top: .5px solid white;opacity: .2;}
}

// SECTION 1
section img{max-width: 100%;}
.img-rounded{border-radius: 10px;object-fit: cover;height: 500px;}
.img-s1-profil{top:50%;left: 60%;}
.img-s2-profil{top:50%;left:-30%}

// DASHBOARD
.templace{background-color: lightblue;width: 100%;height: 500px;}

#dashboard {
    #dashboard-profil{text-align: center;z-index:10000;.sticky-top{top:200px}
        .avatar-picture{top:-75px;left:50%;transform:translateX(-50%);border-radius: 150px;width:150px;height:150px;object-fit:cover;object-position:center;}
        .dashboard-name{margin-top: 100px;}
        .svg-graph{width: 100%;}
        .challenge-separator{position: relative;
            &::after{position:absolute;width: 1px;
            background-color: lightgray;height: 80%;display: block;content:'';top:10%;right: -50%;}
        }
    }
    #dashboard-feed{
        .feed-nav{transform:translateY(-80px);left: 0%;
            margin-bottom: -60px;top:200px;z-index: 5;width: 100%;position: sticky;
            h2{
                &::after{position:absolute;width: 105%;height: 190%;background-color: white;
                    display:block;content:'';
                    top:-50%;left:-2.5%;z-index: -1;
                }
            }
        }
        .user-avatar{width: 50px;height: 50px;object-fit: cover;object-position: center;border-radius: 50px;}
        
    }
    #dashboard-performance{
        .sticky-top{top:200px}
        .overflow{height: 600px;overflow-y: scroll;overflow-x: visible;
            &::-webkit-scrollbar {
                width: 6px;
                background-color: rgba(0,0,0,.15); 
              }
              &::-webkit-scrollbar-thumb {
                  background:#2C82FF; 
              }
        }
        h2{transform:translateY(-80px);left: 0;margin-bottom: -60px;}
        .user-avatar{width: 50px;height: 50px;object-fit: cover;object-position: center;border-radius: 50px;}
        
    }
}
// CHALLENGE
.challenge-header{position: relative;

    &::after{
        position:absolute;content:'';
        width: 100%;height: 150px;
        bottom:-149px;left: 0;z-index: -1;
        border-radius: 0 0 50px 50px;
        background-color: inherit;}
    }

// SHOW POST
.bg-form{background: linear-gradient(200deg, rgba(195,224,244,1) 0%, rgba(246,248,244,1) 100%);}

// FORM
.d-flex-custom{
    display: flex;
}
.fixtures {
    display:none;
    opacity: 0;
}
// MULTIPLE 

.img-post{object-fit: cover;object-position: center;height: 400px;}

.text-danger::first-letter{
    text-transform: capitalize;
}
.fade-out{top: 20px;z-index: 500000;right:20px;width: 300px;}
.bg-white{background-color: white;}

// RESPONSIVE


@media only screen and (max-width: 576px) {
h1{font-size: 25px;}
h2{font-size: 25px;}
h3{font-size: 20px;}
h4{font-size: 16px;}
//HOME INDEX
.home-header .position-relative{height: auto;padding:50px 0!important;}
.svg-home{width: 80%;height: auto;z-index: -1;top:-340px;left: 50%;opacity: .3;}
.img-s1-profil{left: 50%;top:55%;width: 50%;}
.img-s2-profil{left: 0%;top:50%;width: 60%;}
.first-argument, .second-argument{padding: 50px 0!important;}

//DASHBOARD
#dashboard #dashboard-feed .feed-nav{left: 0%;margin-top: 150px;top:180px}
#dashboard #dashboard-performance h2{margin-top: 150px;}
#dashboard #dashboard-performance .overflow{overflow: visible;height: auto;}

//NAVIGATION
    .nav-avatar{
    position: absolute;
    right: 90px;
    top: 22px;
}

//FOOTER
footer{
    .text-right, ul{text-align: center !important;padding: 0;}
    .navbar-brand img{max-width: 150px;}}
}
@media only screen and (min-width: 577px)  and (max-width: 768px){
    h1{font-size: 25px;}
    h2{font-size: 25px;}
    h3{font-size: 20px;}
    h4{font-size: 16px;}
    //HOME INDEX
    .home-header .position-relative{height: auto;padding:50px 0!important;}
    .svg-home{width: 80%;height: auto;z-index: -1;top:-340px;left: 50%;opacity: .3;}
    .img-s1-profil{left: 50%;top:55%;width: 50%;}
    .img-s2-profil{left: 0%;top:50%;width: 60%;}
    //DASHBOARD
    #dashboard #dashboard-feed .feed-nav{left: 0%;margin-top: 150px;top:180px}
    //NAVIGATION
    .nav-avatar{
        position: absolute;
        right: 90px;
        top: 22px;
    }
    #dashboard #dashboard-performance h2{margin-top: 150px;}
    #dashboard #dashboard-performance .overflow{overflow: visible;height: auto;}
    //FOOTER
footer{
    .text-right, ul{text-align: center !important;padding: 0;}
    .navbar-brand img{max-width: 150px;}}

}
@media only screen and (max-width: 1100px) {
    .home-header{overflow: hidden;}
}
@media only screen and (max-width: 1485px) {
    h1{font-size: 40px;}
    h2{font-size: 40px;}
    h3{font-size: 25px;}
    h4{font-size: 20px;}
    #dashboard #dashboard-performance h2{margin-top: 150px;}
    #dashboard #dashboard-feed .feed-nav h2::after{top: -65%;}

    #dashboard #dashboard-performance .overflow{overflow: visible;height: auto;}
    
//NAVIGATION
.nav-avatar{
    position: absolute;
    right: 90px;
    top: 22px;
}
}
@media only screen and (max-width: 1600px) {

}

