<footer class="bg-dark text-white pt-6">
  <div class="container d-flex flex-wrap justify-content-around">
    <div class="col-sm-12 col-md-2 align-self-center">
      <ul class="text-right">
      <li><h4 class="text-primary">MOOVE AND GROOVE</h4></li>
      <li><a>Dashboard</a></li>
      <li><a>Challenges</a></li>
      <li><a>Add session</a></li>
      <li><a>My profil</a></li>
      </ul>
    </div>
    <div class="col-sm-2 col-md-4 text-center">
          <a class="navbar-brand" href="#"><%=image_tag("/assets/logo-footer.png") %></a>
    </div>
    <div class="col-sm-12 col-md-2 align-self-center">
      <ul>
        <li><h4 class="text-primary">Social medias</h4></li>
        <li><a>Facebook</a></li>
        <li><a>Twitter</a></li>
        <li><a>Youtube</a></li>
        <li><a>Instagram</a></li>
      </ul>
    </div>
  </div>
  <div class="pt-6 pb-1 container">
  <hr>
    <p class="text-center">Made with 🤘 by Pierre CAMMAS</p>
  </div>
</footer>